<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="BankAccountMultiuserEntities" connectionString="metadata=res://*/DBModel.BankAccountMultiuserDBModel.csdl|res://*/DBModel.BankAccountMultiuserDBModel.ssdl|res://*/DBModel.BankAccountMultiuserDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=BankAccountMultiuser;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BankAccountMultiuserEntities1" connectionString="metadata=res://*/DBModel.BankAccountMultiuserModel.csdl|res://*/DBModel.BankAccountMultiuserModel.ssdl|res://*/DBModel.BankAccountMultiuserModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=BankAccountMultiuser;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BankAccountMultiuserEntities2" connectionString="metadata=res://*/DBModel.BankAccountMultiuserModel.csdl|res://*/DBModel.BankAccountMultiuserModel.ssdl|res://*/DBModel.BankAccountMultiuserModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=BankAccountMultiuser;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BankAccountMultiuserEntities3" connectionString="metadata=res://*/4.Infrastructure-Data.DBModel.BankAccountMultiuserModel.csdl|res://*/4.Infrastructure-Data.DBModel.BankAccountMultiuserModel.ssdl|res://*/4.Infrastructure-Data.DBModel.BankAccountMultiuserModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=BankAccountMultiuser;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>